/* Body Background */
body {
    background: url(./images/blurry) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}


/* Glassmorphism Effect */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.form-box {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 30px;
    width: 300px;
}

.form-box h2 {
    margin-bottom: 20px;
    color: #333333;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.input-group input:focus {
    border-color: blue
    outline: none;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: red
    border: solid white;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: white
}

/* Social Login Buttons */
.social-login {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.social-login .btn {
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.btn-google {
    background-color: #db4437;
    color: #ffffff;
}

.btn-apple {
    background-color: #333333;
    color: #ffffff;
}

.btn-facebook {
    background-color: #3b5998;
    color: #ffffff;
}

.btn-twitter {
    background-color: #1da1f2;
    color: #ffffff;
    width: 5px;
}

.social-login .btn i {
    margin-right: 8px;
    font-size: 18px;
    width: 5px;
}
