.testimonial {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.statistics {
    padding: 50px 0;
    background: linear-gradient(to right, #ff7e5f, #feb47b); 
    color: #fff;
}

.stat-box {
    margin-bottom: 30px;
}

.stat-box h3 {
    font-size: 3rem;
    margin: 0;
    font-weight: bold;
    color:  #ffffff; 
}

.stat-box p {
    font-size: 1.2rem;
    margin: 10px 0 0;
    color: #fff;
}

@media (min-width: 768px) {
    .statistics .row {
        display: flex;
        justify-content: space-around;
    }
}

.logo img {
    height: 80px; 
    width: auto; 
}

.cta-buttons {
    padding: 60px 0;
    background: #f2f2f2;
    background-image: url(./images/login.jpg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 40px 0;
}

.cta-buttons h2 {
    color: #333333;
    margin-bottom: 20px;
    font-weight: 700;
}

.cta-buttons p.lead {
    color: #555555;
    margin-bottom: 30px;
}

.cta-buttons .btn {
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}

.cta-buttons .btn-primary {
    background-color: white
    border: none;
}

.cta-buttons .btn-outline-primary {
    border: 2px solid #4b79a1;
    color: #4b79a1;
}

.cta-buttons .btn-outline-primary:hover {
    background-color: white
    color: #ffffff;
}

.testimonial-img {
    width: 60px; 
    height: 60px; 
    object-fit: cover;
    border: 2px solid #ddd; 
}

.featured-courses .card {
    border-radius: 10px; 
}

.featured-courses .card-img-top {
    height: 200px; 
    object-fit: cover; 
}

.featured-courses .card-body {
    text-align: center;
}

.featured-courses .btn-primary {
    background-color: white
    border: none; 
}

.featured-courses .btn-primary:hover {
    background-color: #0056b3; 
}

.bgcolor{
    background: linear-gradient(to right, #2c3e50, #4b79a1);
    padding: 20px 0;
    color: #ffffff;
}

.Quick{
    left: 1000px;
}
